body{
    background-image: url(https://thumbs.gfycat.com/BlankIdleBufflehead-size_restricted.gif) ;
    font:bold;
    color: red;
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hobbie{
    color: white;
}
.sobremim{
    font-size: larger;
    color: black;
}